/*  Акцент цвет  #2196F3*/
/* Цвет белый #FFFFFF */
/* Цвет второстепенного текста #212121; */
/* основной цвет текста #757575; */
/* цвет адреса color: rgba(255, 255, 255, 0.6); */
/* цвет кнопок портфолио #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-title-text: #212121;
    --color-white: #ffffff;
    --adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #F5F4FA;
    --portf-list-gap: 30px;
    --social-link-color: #AFB1B8;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    margin: 0;

    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

h2, h3, p, ul, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: var(--color-white);
    border-bottom: 1px solid #ECECEC;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

/* Лого */

.header-logo span,
.footer-logo span {
    color: var(--accent-color);
}

.header-logo,
.footer-logo {
    display: inline-block;
    margin-right: 94px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}

/* Навигация */

.header-item:not(:last-child) {
    font-weight: 500;
    margin-right: 50px;
}

.header-item {
    position: relative;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-link,
.adress-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-title-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.footer-link.contakt:hover, 
.footer-link.contakt:focus,
.footer-link:hover, 
.footer-link:focus,
.adress-link:hover, 
.adress-link:focus {
    color: var(--accent-color);
}

/* Телефон имейл */

.adress-nav {
    color: var(--primary-text-color);
    display: flex;
    margin-left: auto;
}

.icon-adress {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}

.icon-post {
    height: 12px;
    width: 16px;
}

.icon-phone {
    width: 10px;
    height: 16px;
}

.adress-item:not(:first-child) {
    margin-left: 50px;
}

.adress-link {
    color: var(--primary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list .link.current {
    color: var(--accent-color);
}

.link.current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: var(--accent-color);
}

/* Hero */

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-overlay {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: #C4C4C4;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-white);
}

.hero-btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border-style: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--color-white);
    background: #2196F3;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover, 
.hero-btn:focus, 
.form-btn:hover, 
.form-btn:focus,
.mail-btn:hover, 
.mail-btn:focus {
    background-color: #188CE8;
    cursor: pointer;
}

.section {
    padding: 94px 0;

}

.section-title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-title-text);
}

.section.made {
    padding-top: 0;
}

.made-list {
    display: flex;
    gap: 30px;
}

.made-item {
    position: relative;
}

.thumb-made {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

.thumb-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-white);
}

.significant {
    display: flex;
    gap: 30px;
}

.thumb.icon-significant {
    display: flex;
    background-color: var(--portfolio-btn-color);
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
}


.significant-list {
    flex-basis: calc(100% - 90px / 4);
}

.significant-title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-text);
}

.significant .sign-subtxt {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team.section {
    background: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background: var(--color-white);

}

.team-img {
    display: block;
    margin-bottom: 30px;
} 

.team-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-title-text);
}

.team-subtxt {
    margin-top: 0;
    margin-bottom: 16px;

    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.team-social {
    display: flex;
    padding: 0 32px 30px;
    justify-content: space-between;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items:center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-position: center;

    color: var(--social-link-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, 
.social-link:focus {
    color: var(--color-white);
    background-color: var(--accent-color)
}

.icon {
    fill: currentColor;
}

/* Фирмы */

.firms-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.firms-item {
    border: 1px solid var(--social-link-color);
    border-radius: 4px;
  
    width: 170px;
    height: 92px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.firms-item:hover .firms-link,
.firms-item:focus .firms-link,
.firms-item:focus,
.firms-item:hover,
.firms-link:focus, 
.firms-link:hover {
    border-color: var(--accent-color);
    cursor: pointer;
    color: var(--accent-color);
}

.firms-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    color: var(--social-link-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    
    background: #2F303A;
}

.footer-logo {
    margin: 0;
    margin-bottom: 20px;

    color: var(--color-white);
}

.footer-link {
    color: var(--color-white);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-link .contakt {
    color: var(--adress-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}


/*=========================================== Вторая страничка Портфолио ========================================*/

.portfolio {
    padding: 94px 0;
}

.btn-group .btn {
    padding: 6px 22px;

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: none;

    background-color: var(--portfolio-btn-color);
    color: var(--secondary-title-text);

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-group .btn:hover,
.btn-group .btn:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.btn-group {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio-cards {
    margin-top: calc(-1 * var(--portf-list-gap));
    margin-left: calc(-1 * var(--portf-list-gap));

    display: flex;
    flex-wrap: wrap;
}

.portfolio-cards > .portfolio-list {
    margin-top: var(--portf-list-gap);
    margin-left: var(--portf-list-gap);

    flex-basis: calc(100% / 3 - var(--portf-list-gap));
}

.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-txt {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-title-text);
}

.portfolio-subtxt {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-list {
    background: #FFFFFF;
}

.hover-link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-link:hover, 
.hover-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hover-link:hover .hover-thumb,
.hover-link:focus .hover-thumb {
    transform: translateY(-100%);
}


.img-thumb {
    position: relative;
    overflow: hidden;
}

.hover-thumb {
    position: absolute;
    left: 0;
    max-height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--color-white);
    background-color: rgba(33, 150, 243, 0.9);
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}


.footer-social {
    display: inline-flex;
    gap: 10px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.join-footer {
    display: flex;
    flex-direction: column;
    margin-left:  70px;
}

.mail-wrapper {
    display: flex;
    margin-left: auto;
}

.mail-footer {
    display: flex;
    flex-direction: column;
}

.join-title,
.mail-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-white)
}

.mail-btn {
    align-self: end;
    font-weight: 700;
    line-height: 1.875;

    display: flex;
    align-items: center;
    /* text-align: center; */
    letter-spacing: 0.06em;

    padding: 10px 28px;
    margin-left: 12px;

    color: var(--color-white);

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.mail-btn::after {
    content: '';
    /* display: inline-block; */

    margin-left: 10px;
    
    width: 24px;
    height: 24px;

    background-image: url('../img/telegrammform.svg');
}

.mail-input {
    width: 358px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background: #2F303A;
}

.item-footer > .join-link {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--color-white);

}

.join-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, 
.join-link:focus  {
    background-color: var(--accent-color);
}

/* Modal view */

.backdrop {
    position: fixed;
    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 3;

    background-color:rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;
    padding: 40px 40px;

    
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.thumb-modal:hover, 
.thumb-modal:focus {
    cursor: pointer;
    color: var(--accent-color);
}

.form-wrapper {
    width: 448px;
    margin: 0 auto;
}

.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;

    color: #212121;
}

.form-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;

    color: #757575;
}

.input-wrapper {
    position: relative;

}

.form-field {
    display: flex;
    flex-direction: column;
    position: relative;

    margin-bottom: 10px;
}

.form-field.checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}


.form-btn {
    font-weight: 700;
    line-height: 1.88;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 10px 52px;
    margin: 0 auto;

    color: var(--color-white);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    width: 100%;
}

.name-form, 
.name-form + .name-svg {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.name-form:hover, 
.name-form:focus, 
.name-form:hover + .name-svg, 
.name-form:focus + .name-svg {
    border-color: var(--accent-color);
    cursor: pointer;
    fill: var(--accent-color);
}

.name-svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.form-label.check {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;

    color: #757575;
}

.form-policy > a {
    text-decoration: underline;
    color: var(--accent-color);
    text-decoration-skip-ink: none;
}

.textarea {
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* margin-bottom: 20px; */
}