/*  Акцент цвет  #2196F3*/
/* Цвет белый #FFFFFF */
/* Цвет второстепенного текста #212121; */
/* основной цвет текста #757575; */
/* цвет адреса color: rgba(255, 255, 255, 0.6); */
/* цвет кнопок портфолио #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-title-text: #212121;
    --color-white: #ffffff;
    --adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #F5F4FA;
    --portf-list-gap: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    margin: 0;

    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--color-white);
    border-bottom: 1px solid #ECECEC;

}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

/* Лого */

.header-logo span,
.footer-logo span {
    color: var(--accent-color);
}

.header-logo,
.footer-logo {
    display: inline-block;
    margin-right: 94px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: #000000;
}

/* Навигация */

.header-item:not(:last-child) {
    font-weight: 500;
    margin-right: 50px;

}

.header-list {
    display: flex;
    align-items: center;
}

.header-link,
.adress-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-title-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus,
.footer-link.contakt:hover, 
.footer-link.contakt:focus,
.footer-link:hover, 
.footer-link:focus {
    color: var(--accent-color);
}

/* Телефон имейл */

.adress-nav {
    color: var(--primary-text-color);
    display: flex;
    margin-left: auto;
}

.adress-item:not(:first-child) {
    margin-left: 50px;
}

.adress-link {
    color: var(--primary-text-color);
}

.adress-link::before {
    content: '';
    height: 20px;
    width: 20px;
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.header-list .link.current {
    color: var(--accent-color);
}

/* Hero */

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-overlay {
    height: 600px;
    max-width: 1600px;
    margin: 0 auto;

    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-color: #C4C4C4;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-white);
}

.hero-btn {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border-style: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    color: var(--color-white);
    background: #2196F3;
}

.hero-btn:hover, 
.hero-btn:focus {
    background: #188CE8;
    cursor: pointer;
}

.section {
    padding: 94px 0;

}

.section-title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-title-text);
}

.section.made {
    padding-top: 0;
}

.made-list {
    display: flex;
    gap: 30px;
}

.significant {
    display: flex;
    gap: 30px;
}

.significant-list::before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;

    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--portfolio-btn-color);
}

.icon-satelit::before {
    background-image: url('../img/satelit.svg');
}

.icon-clock::before {
    background-image: url('../img/clock.svg');
}

.icon-stats::before {
    background-image: url('../img/stats.svg');
}

.icon-astronaut::before {
    background-image: url('../img/astronaut.svg');
}

.significant-list {
    flex-basis: calc(100% - 90px / 4);
}

.significant-title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-text);
}

.significant .sign-subtxt {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.team.section {
    background: #F5F4FA;
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {

    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-img {
    display: block;
    margin-bottom: 30px;
} 

.team-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-title-text);
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-subtxt {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;

    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.footer {
    padding-bottom: 60px;
    padding-top: 60px;
    
    background: #2F303A;
}

.footer-logo {
    margin: 0;
    margin-bottom: 20px;

    color: var(--color-white);
}

.footer-list {
    
}

.footer-link {
    color: var(--color-white);
}

.footer-link .contakt {
    color: var(--adress-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}


/*=========================================== Вторая страничка Портфолио ========================================*/

.portfolio {
    padding: 94px 0;
}

.btn-group .btn {
    padding: 6px 22px;

    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: none;

    background-color: var(--portfolio-btn-color);
    color: var(--secondary-title-text);
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
    cursor: pointer;
}

.btn-group {
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    gap: 8px;
}

.portfolio-cards {
    margin-top: calc(-1 * var(--portf-list-gap));
    margin-left: calc(-1 * var(--portf-list-gap));

    display: flex;
    flex-wrap: wrap;
}

.portfolio-cards > .portfolio-list {
    margin-top: var(--portf-list-gap);
    margin-left: var(--portf-list-gap);

    flex-basis: calc(100% / 3 - var(--portf-list-gap));
}

.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-txt {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-title-text);
}

.portfolio-subtxt {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-list {
    background: #FFFFFF;
}

.footer-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}
