@charset "UTF-8";
.header__logo,
.footer__logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header__link--current {
  color: #2196F3;
}

@media screen and (min-width: 1600px) {
  .header__link--current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}
body {
  margin: 0;
  color: #757575;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.input {
  padding: 10px 0;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
}

.portfolio {
  padding: 60px 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
}

.icon {
  fill: currentColor;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.header__span,
.footer__span {
  color: #2196F3;
}

.header__logo:focus,
.footer__logo:focus {
  color: #2196F3;
  outline: #2196F3;
}

.adress__nav {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .adress__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2196F3;
  }
  .adress__nav .adress__icon-post {
    display: none;
  }
  .adress__nav .adress__icon-phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .adress__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .adress__nav {
    color: #757575;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .adress__icon {
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
  }
}

.adress__icon-post {
  height: 12px;
  width: 16px;
}

.adress__icon-phone {
  width: 10px;
  height: 16px;
}

@media screen and (max-width: 767px) {
  .adress__item a[href^=tel] {
    display: inline-block;
    color: #2196F3;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .adress__item a[href^=mail] {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .adress__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .adress__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 479px) {
  .adress__item a[href^=tel] {
    display: inline-block;
    color: #2196F3;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

.adress__link {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__link:hover, .adress__link:focus {
  color: #2196F3;
  outline: #2196F3;
}
.adress__link--current {
  color: #2196F3;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ffffff;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .header__wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2.5rem 3rem 3rem;
    background-color: #fff;
  }
  .header__wrapper.is-open {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    position: absolute;
    top: 55%;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (max-width: 479px) {
  .header__wrapper {
    padding: 1.5rem 2rem 2rem;
  }
}
@media screen and (min-width: 768px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.header__wrapper.is-open + .heder_mob1 {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__wrapper.is-open + .heder_mob1 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .heder_mob1 {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .heder_mob1 {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .heder_mob {
    display: none;
  }
}

.mobile-btn {
  z-index: 3;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}
.mobile-btn .icon-close {
  display: none;
}
.mobile-btn.is-open .icon-close {
  display: block;
}
.mobile-btn.is-open .icon-menu {
  display: none;
}
.mobile-btn.is-open .header__logo {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-btn {
    position: absolute;
    top: 55%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}
.mobile-btn:hover .icon-close, .mobile-btn:focus .icon-close, .mobile-btn:hover .icon-menu, .mobile-btn:focus .icon-menu {
  fill: #2196F3;
}

.icon-close,
.icon-menu {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 20px;
  color: #2196F3;
}
.header-social__list .header-social__item {
  display: inline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}
.header-social__list .header-social__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 768px) {
  .header-social__list {
    display: none;
  }
}

.header-social-link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media screen and (max-width: 479px) {
  .header-social-link {
    font-size: 14px;
    line-height: 1.15;
  }
}

.heder__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .heder__nav {
    margin-left: -96px;
  }
}
@media screen and (min-width: 1200px) {
  .heder__nav {
    margin-right: 96px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .header__item {
    position: relative;
  }
  .header__item:not(:last-child) {
    font-weight: 500;
    margin-right: 50px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__item {
    position: relative;
  }
  .header__item:not(:last-child) {
    font-weight: 500;
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: start;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: #2196F3;
    outline: #2196F3;
  }
}
@media screen and (max-width: 479px) {
  .header__link {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus {
    color: #2196F3;
    outline: #2196F3;
  }
}

.header__link--current {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .header__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}

/* Телефон имейл */
.hero {
  padding-top: 0;
  padding-bottom: 0;
}

.hero__overlay {
  max-width: 480px;
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #C4C4C4;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-mobile@2x.jpg");
    background-color: #C4C4C4;
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #C4C4C4;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero-bg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bg@2x.jpg");
  }
}

.hero__title {
  margin: 0 auto 30px auto;
  max-width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__btn {
  display: block;
  padding: 10px 24px;
  margin: 0 auto;
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background: #2196F3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
  outline: #2196F3;
}

.section-made {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section-made {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .made__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.made__item {
  position: relative;
}

.thumb__made {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.thumb__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.significant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .significant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .significant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .significant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 30px;
  }
}

.significant__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F4FA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .significant__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .significant__list {
    width: calc((100% - 90px) / 4);
  }
}

.significant__title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .significant__title {
    text-align: start;
  }
}

.significant__subtxt {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team__section {
  background: #F5F4FA;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}

.team__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
}

.team__img {
  display: block;
  margin-bottom: 30px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__subtxt {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .team-social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-position: center;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  color: #ffffff;
  background-color: #2196F3;
  outline: #2196F3;
}

.firms__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.firms__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  width: calc((100% - 30px) / 2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firms__item:hover, .firms__item:focus {
  border-color: #2196F3;
  cursor: pointer;
  color: #2196F3;
  outline: #2196F3;
}
@media screen and (min-width: 768px) {
  .firms__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .firms__item {
    width: calc((100% - 150px) / 6);
  }
}

.firms__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.firms__link:hover, .firms__link:focus {
  border-color: #2196F3;
  cursor: pointer;
  color: #2196F3;
  outline: #2196F3;
}
.firms__item:hover .firms__link .firms__item:focus .firms__link {
  border-color: #2196F3;
  cursor: pointer;
  color: #2196F3;
  outline: #2196F3;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background: #2F303A;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 60px;
    -webkit-column-gap: 165px;
       -moz-column-gap: 165px;
            column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    gap: 93px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.footer__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (max-width: 480px) {
  .footer__adress {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__adress {
    margin: 0;
  }
}

.footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    margin: 0;
    margin-bottom: 20px;
  }
}

.footer__span {
  color: #2196F3;
}

.footer__link {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196F3;
  outline: #2196F3;
}
.footer__link--adresscolor {
  color: rgba(255, 255, 255, 0.6);
}
.footer__link--adresscolor:hover, .footer__link--adresscolor:focus {
  color: #2196F3;
  outline: #2196F3;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.join-footer__social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
  margin: 0 auto;
}

.join-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .join-footer {
    margin-left: auto;
    margin-right: auto;
  }
}
.join-footer__title,
.mail-wrapper__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-footer__link {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .mail-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .mail-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.mail-wrapper__title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
.mail-wrapper__input {
  width: calc(100vw - 30px);
  max-width: 450px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .mail-wrapper__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.mail-wrapper__btn {
  -ms-flex-item-align: end;
      align-self: end;
  font-weight: 700;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: #ffffff;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mail-wrapper__btn {
    margin-top: 0;
    margin-left: 12px;
  }
}
.mail-wrapper__btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/telegrammform.svg");
}
.mail-wrapper__btn:hover, .mail-wrapper__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
  outline: #2196F3;
}
@media screen and (max-width: 1199px) {
  .mail-wrapper__btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .mail-wrapper__btn {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .mail-wrapper__btn {
    margin: 0 auto;
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.backdrop__modal--is-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 609px;
  padding: 40px 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .backdrop__modal--is-hidden {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .backdrop__modal--is-hidden {
    min-width: 528px;
  }
}

.backdrop__btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__btn:hover, .backdrop__btn:focus {
  cursor: pointer;
  color: #2196F3;
  outline: #2196F3;
}

.form__wrapper {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .form__wrapper {
    width: 28rem;
  }
}

.backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  position: relative;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-weight: 700;
  line-height: 1.88;
  padding: 10px 52px;
  margin: 0 auto;
  color: #ffffff;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188CE8;
  cursor: pointer;
  outline: #2196F3;
}

.form__name,
.form__name-svg {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__name:hover, .form__name:focus, .form__name:focus + .form__name-svg, .form__name:hover + .form__name-svg,
.form__name-svg:hover,
.form__name-svg:focus,
.form__name-svg:focus + .form__name-svg,
.form__name-svg:hover + .form__name-svg {
  border-color: #2196F3;
  cursor: pointer;
  fill: #2196F3;
  outline: #2196F3;
}

.form__name-svg {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form__label-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  padding-left: 12px;
  color: #757575;
}

.form__policy-link {
  text-decoration: underline;
  color: #2196F3;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.textarea {
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea:hover, .textarea:focus {
  border-color: #2196F3;
  cursor: pointer;
  fill: #2196F3;
  outline: #2196F3;
}

.form__textarea {
  margin-bottom: 20px;
}

.form__chekbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form__check-svg {
  width: 16px;
  height: 15px;
  margin-right: 6px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__check-svg:hover, .form__check-svg:focus, .form__chekbox:focus + .form__check-svg {
  border: 3px solid #212121;
  cursor: pointer;
}
.form__chekbox:checked + .form__check-svg {
  background-color: #2196F3;
  border-color: #2196F3;
}

.portfolio__list-btn {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.portfolio__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  background-color: #F5F4FA;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: #2196F3;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.portfolio__item {
  background: #ffffff;
}
@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 60px) / 3);
  }
}

.portfolio__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__content.baseline {
    padding-bottom: 56px;
  }
}

.portfolio__txt {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__subtxt {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: #2196F3;
}
.portfolio__link:hover .portfolio__hover-thumb, .portfolio__link:focus .portfolio__hover-thumb {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__hover-thumb {
  position: absolute;
  left: 0;
  max-height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */