/*  Акуент цвет  #2196F3*/
/* Цвет белый #FFFFFF */
/* Цвет второстепенного текста #212121; */
/* основной цвет текста #757575; */
/* цвет адреса color: rgba(255, 255, 255, 0.6); */
/* цвет кнопок портфолио #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --secondary-title-text: #212121;
    --color-white: #ffffff;
    --adress-color: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #F5F4FA;
}

body {
    color: var(--primary-text-color);
}

/* Лого */

.logo span {
    color: var(--accent-color);
}

.logo {
    color: #000000;
}

/* Навигация */
.nav {
    background: #FFFFFF;
}

.nav-item {
    color: var(--secondary-title-text);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}

.adress-nav {
    color: var(--primary-text-color);
}

.adress-item {
    color: var(--primary-text-color);
}

.adress-item:hover,
.adress-item:focus {
    color: var(--accent-color);
}

.nav .nav-item.current {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--color-white);
}

.section-title {
    color: var(--secondary-title-text);
}

.significant-title {
    color: var(--secondary-title-text);
}

.team-title {
    color: var(--secondary-title-text);
}

.footer {
    width: 1600px;
    height: 252px;
    background: #2F303A;
}

.footer .logo {
    color: var(--color-white);
}

.footer-item {
    color: var(--color-white);
}

.footer-list .contakt {
    color: var(--adress-color);
}

/*=========================================== Вторая страничка Портфолио ========================================*/

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
}

.btn-group .btn {
    background-color: var(--portfolio-btn-color);
    color: var(--secondary-title-text);
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    background-color: var(--accent-color);
    color: var(--color-white);
}

.cards-group h1 {
    color: var(--secondary-title-text);
}


