
.team__section {
    background: #F5F4FA;
}

.team__list {
    display: flex;
    gap: 30px;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background: $color-white;

}

.team__img {
    display: block;
    margin-bottom: 30px;
} 

.team__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-title-text;
}

.team__subtxt {
    margin-top: 0;
    margin-bottom: 16px;

    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
}

.team-social__list {
    display: flex;
    padding: 0 32px 30px;
    justify-content: space-between;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items:center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-position: center;

    color: $social-link-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-white;
        background-color: $accent-color;
        outline: $accent-color;
    }
}