.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header__link--current {
    color: $accent-color;
}

.header__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    border-radius: 2px;

    background-color: $accent-color;
}

body {
    margin: 0;

    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
    background-color: $color-white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 94px 0;
}

.section__title {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: $secondary-title-text;
}

.input {
    padding: 10px 0;
    padding-left: 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    width: 100%;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.icon {
    fill: currentColor;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}
