$primary-text-color: #757575;
$accent-color: #2196F3;
$secondary-title-text: #212121;
$color-white: #ffffff;
$adress-color: rgba(255, 255, 255, 0.6);
$portfolio-btn-color: #F5F4FA;
$portf-list-gap: 30px;
$social-link-color: #AFB1B8;