.header__span,
.footer__span {
    color: $accent-color;
}

.header__logo:focus,
.footer__logo:focus {
    color: $accent-color;
    outline: $accent-color;
}

.header__logo,
.footer__logo {
    @extend %logo;
}