.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: $color-white;
    border-bottom: 1px solid #ECECEC;

    @media screen and (max-width: 767px) {
        & {
            height: 60px;
        }

        &__wrapper {
            display: none;

            position: fixed;

            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
    
            // padding: 40px 48px 48px;
            padding: 2.5rem 3rem 3rem;
    
            background-color: #fff;
        }

        &__wrapper.is-open {
            display: block;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        &__logo {
            position: absolute;
            top: 55%;
            left: 15px;
            transform: translateY(-50%);
        }
    }

    @media screen and (max-width: 479px) {
        &__wrapper {
            padding: 1.5rem 2rem 2rem;
        }
    }  

    @media screen and (min-width: 768px) {

        &__wrapper {
            display: flex;
            align-items: center;
            // margin-left: 88px;
        }

        &__logo {
            display: flex;
            align-items: center;
        }
      
    }

    @media screen and (min-width: 1200px) {

        &__wrapper {
            display: flex;
            align-items: baseline;
        }
    }
}

.header__wrapper.is-open + .heder_mob1 {
        display: none;

        @media screen and (max-width: 767px) {
            display: none;
        }
}

.heder_mob1 {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
    }
}

.heder_mob {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-btn {
    z-index: 3;

    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;

    & .icon-close {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    &.is-open .header__logo {
        display: none;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 55%;
        right: 15px;
        transform: translateY(-50%);
    }

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover .icon-close,
    &:focus .icon-close, 
    &:hover .icon-menu, 
    &:focus .icon-menu {
        fill: $accent-color;

    }
}

.icon-close, 
.icon-menu {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Social header links

.header-social__list {
    display: flex;
    position: relative;
    gap: 20px;

    color: $accent-color;


    .header-social__item {
        display: inline;
        justify-content: space-between;
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        letter-spacing: 0.02em; 

        
        

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 0;
            right: -10px;
            width: 1px;
            height: 22px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }

    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-social-link {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: .02em;

    color: $accent-color;

    @media screen and (max-width: 479px) {
        font-size: 14px;
        line-height: 1.15;
    }
}

.heder_mob {
    @media screen  {
        
    }
}

.heder__nav {
    display: flex;
    align-items: center;
   
    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) {
        margin-left: -96px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 96px;
    }
}

.header__list {
    display: flex;
    align-items: center;
   
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: baseline;
        margin-right: 30px;
    }
}

.header__item {
    @media screen and (max-width: 767px) {
        position: relative;

        &:not(:last-child) {
            font-weight: 500;
            margin-right: 50px;
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        position: relative;

        &:not(:last-child) {
            font-weight: 500;
            margin-right: 50px;
        }
    }
}

.header__link {

    @media screen and (max-width: 767px) {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        text-align: start;
        letter-spacing: 0.02em;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: $accent-color;
            outline: $accent-color;
        }
    }

    @media screen and (max-width: 479px) {
        font-size: 26px;
        line-height: 1.1923076923;
    }

    @media screen and (min-width: 768px) {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: $secondary-title-text;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $accent-color;
            outline: $accent-color;
        }
    }
}

.header__link--current {
    color: $accent-color;


    @media screen and (min-width: 768px) {
        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
        
            border-radius: 2px;
        
            background-color: $accent-color;
        }
    }
}

/* Телефон имейл */


