.significant {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.significant__thumb {
    display: flex;
    background-color: $portfolio-btn-color;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
}

.significant__list {



    // @media screen and (max-width: 480px) {
    //     width: 100%;
            
    // }

    @media screen and (min-width: 768px) {
        @include calcWidth(2, 30px);

    }

    @media screen and (min-width: 1200px) {
        @include calcWidth(4, 30px);
    }
    
   
}

.significant__title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $secondary-title-text;

    @media screen and (min-width: 768px) {
        text-align:start;
    }
}

.significant__subtxt {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

