.significant {
    gap: 30px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.significant__thumb {
    display: flex;
    background-color: $portfolio-btn-color;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
}

.significant__list {
    // flex-basis: calc(100% - 90px / 4);

    &:not(:last-child) {
        @media screen and (max-width: 480px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 480px) {
        width: 100%;
            
    }

    @media screen and (min-width: 768px) {
        width: calc(100% / 2 - 15px);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(100%  / 4);

    }
    
   
}

.significant__title {
    margin: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $secondary-title-text;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.significant__subtxt {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

